body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-bottom: 70px
}


table {
    border: 1px solid;
    border-color: red;
}

.logo {
    float: left;
    margin: 37px
}

.btn {
    border: 1px solid #00e0d0;
    padding: 15px;
    color: #00e0d0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: rgba(31, 243, 225, 0.65);
    color:#ffffff;
}


.intro, .btn-play {
    padding :100px;
    text-align: center;
    color: #fff;
    clear: both;
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    transition: .3s;
    color: #00e0d0;
}
.putih{
    color:#ffffff;
}

.header, .video {
    background-image: url(img/bg-header.jpg);
    background-size: cover;
    overflow: hidden;
    height:  670px;
}
.video{
    height:400px;
}


.overlay{
    background: rgba(60, 31, 133, 0.55);
    overflow: hidden;
    height:  670px;
}
.garis  {
    width: 50px;
    border-color: rgb(0, 238, 255);
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

ul {
    float: right;
    margin: 37px;
}
.container {
    margin: 100px auto;
    max-width: 1024px;
}
.btn-play {
    margin: 90px 0;
}
.btn-play a:hover {
    color: inherit;
}
.video {
    background-image: url(img/bg-video.jpg);
}



/*
   hijau : #00e0d0
   */