.gambar {
    background: #444 url(../img/bg/situ.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 670px;
    margin-top: -60px;
    padding-top: 160px;
    text-align: center;
}


.bg-dark {
    background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(#000000));
    background-image: -webkit-linear-gradient(top, #343a40, #000000);
    background-image: -moz-linear-gradient(top, #343a40, #000000);
    background-image: linear-gradient(to bottom, #343a40, #000000);
    ;
    min-height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link :hover {
    color: rgb(0, 204, 255) !important;
}
/* slider */

.nav-link:hover {
    color: rgb(0, 204, 255) !important;
}

#slider-home .carousel-indicators {
    position: relative;
    top: 3rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item {
    color: white;
    text-shadow: #666 !important;
    
}

.jumbotron {
    margin: 0px;
}

.bg-success {
    background: #1bac91 !important;
    color: #ffffff;
}

.alamat {
    background: #ffffff;
    color: #000000;
}
.ukuran{
    width:450px;
}

@media screen and (max-width: 1200px) {
.map{
    width:100% !important;
}
.ukuran{
    width:100%;
}
}


.demo-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .button {
    text-decoration: none;
    color: #F0353A;
    border: 2px solid #F0353A;
    padding: 6px 10px;
    display: inline-block;
    font-size: 18px;
  }
  
  .button:hover {
    background: #F0353A;
    color: #fff;
  }
  .bg-warning {
    background-color: rgba(255, 193, 7, 0.62)!important;
}
td {
    padding: 3px 5px 3px 5px;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
 
.head td {
    font-weight: bold;
    font-size: 12px;
    background: #b7f0ff; 
}
 
table .main tbody tr td {
    font-size: 12px;
}
 
table, table .main {
    width: 100%;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-collapse: collapse;
    background: #fff;
}